<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vidaterrestre"
        tools:targetApi="31">

        <activity
            android:name=".Instructions"
            android:exported="false" />
        <activity
            android:name=".RankingActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity10"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity9"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity8"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity7"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity6"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity5"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity4"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity3"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity2"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".NextActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WhatIsLifeActivity" />
        <activity android:name=".WhyImportantActivity" />
        <activity android:name=".InterventionProposalsActivity" />
        <activity android:name=".InteractiveTestsActivity" />
        <activity android:name=".MinigameActivity" />
        <activity android:name=".StatisticalViewActivity" />
        <activity android:name=".JaguarInfoActivity" />
        <activity android:name=".TatuInfoActivity" />
        <activity android:name=".QueixadaInfoActivity" />
        <activity android:name=".AraraInfoActivity" />
        <activity android:name=".TamanduaInfoActivity" />
        <activity android:name=".CapybaraInfoActivity" />
        <activity android:name=".GatoMaracajaInfoActivity" />
        <activity android:name=".MacacoInfoActivity" />
        <activity android:name=".AntaInfoActivity" />
        <activity android:name=".AranhaInfoActivity" />
        <activity android:name=".LoboGuaraInfoActivity" />
        <activity android:name=".AraranjubaInfoActivity" />
        <activity android:name=".AriranhaInfoActivity" />
        <activity android:name=".JaguatiricaInfoActivity" />
        <activity android:name=".HarpiaInfoActivity" />
        <activity android:name=".TamarinLeaoInfoActivity" />
        <activity android:name=".TatuPebaInfoActivity" />
        <activity android:name=".JacarePantanalInfoActivity" />
        <activity android:name=".MorcegoFrutaInfoActivity" />
        <activity android:name=".CervoPantanalInfoActivity" />
        <activity android:name=".JaguarundiInfoActivity" />
        <activity android:name=".RatoMatoInfoActivity" />
        <activity android:name=".CachorroMatoInfoActivity" />
        <activity android:name=".CurioInfoActivity" />
        <activity android:name=".VeadoInfoActivity" />
        <activity android:name=".PreaInfoActivity" />
        <activity android:name=".LagartoInfoActivity" />
        <activity android:name=".RaposaInfoActivity" />
        <activity android:name=".PreguicaInfoActivity" />
        <activity android:name=".MutumInfoActivity" />
        <activity android:name=".CurrupiaoInfoActivity" />
        <activity android:name=".CutiaInfoActivity" />
        <activity android:name=".PapagaioInfoActivity" />
        <activity android:name=".AndorinhaInfoActivity" />
        <activity android:name=".IguanaInfoActivity" />
        <activity android:name=".BeijaFlorInfoActivity" />
        <activity android:name=".TatuBolaInfoActivity" />
        <activity android:name=".TucanoInfoActivity" />
        <activity android:name=".QuatiInfoActivity" />
        <activity android:name=".MicoPretoInfoActivity" />
        <activity android:name=".SapoCururuInfoActivity" />
        <activity android:name=".GuaxinimInfoActivity" />
        <activity android:name=".MicoEstrelaInfoActivity" />
        <activity android:name=".CobraCoralInfoActivity" />
        <activity android:name=".NambuInfoActivity" />
        <activity android:name=".PacaInfoActivity" />
        <activity android:name=".PumaInfoActivity" />
        <activity android:name=".TuiuiuInfoActivity" />
        <activity android:name=".JabutiInfoActivity" />
        <activity android:name=".SubmitProposalActivity" />
        <activity android:name=".AiActivity" />
        <activity android:name=".ChatAdapter" />
        <activity android:name=".MoreInfoActivity" />
        <activity
            android:name=".GameActivity"
            android:exported="true" />
        <activity
            android:name=".GameOver"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKAc6MFtlnQC3UiT_ehLtArI8_0qI93dE" />
    </application>

</manifest>